body {
    font-family: Arial, sans-serif;
    background-image: url('Background image.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(113, 229, 252, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
}

.social-icons {
    margin-top: 20px;
}

.icon {
    width: 40px;
    margin: 0 10px;
    transition: filter 0.3s ease;
}

.icon:hover {
    filter: brightness(0.5);
}
